<h1>Bookings#show1</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<p><%=@booking.start_day %></p>
<p><%=@booking.end_day %></p>
<p><%=@booking.total_price %></p>

<h3>Add a review</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= render 'reviews/form', booking: @booking, review: @review %>
    </div>
  </div>
</div>


