.btn-sm {
  border-radius: 15px;
}

.btn-ghost {
  color: #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost:focus {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  background: #8C56A2;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #B3EBF9;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-flat-opposite {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  background: #B3EBF9;
  transition: background 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-flat-opposite:hover {
  background: #8C56A2;
  color: white;
}

.btn-flat-danger {
  background-color: red;
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  transition: background 0.3s ease;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


.btn {
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg, .btn-group-lg>.btn {
    padding: .75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .6rem;
}

.btn-primary {
  color: #fff;
  background-color: #8C56A2;
  border-color: #8C56A2;
}

.fa-trash-alt {
  color: #6C757D;
  transition: background 0.3s ease;
}

.fa-trash-alt:hover {
  color: #B3EBF9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.flash-success {
  a {
    text-decoration: none;
    color: black;
    }
  a:hover {
    color: #B3EBF9;
    }
  }

#see-all {
  font-size: 24px;
  padding: 15px;
}

.button-book {
  margin-bottom: 15px;
}