.text-block h6 {
  font-weight: 700;
  line-height: 1.3;
}

.text-primary {
  color: #8C56A2 !important;
}
.main-card-picture {
  height: 200px;
  background-position: center;
  background-size: cover;
}

.card-trip-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-trip-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-booking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip-booking .card-trip-infos-booking {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos-booking .card-trip-user-booking {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

 .pram-photo-card {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  height: 350px;
  width: 100%;
}

.show-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.card-pram {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  color: #333333;

    h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }
    p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }
}

.card-pram .card-pram-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
