.carousel-inner {
  border-radius: 15px !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
}

.carousel-item:active {
  border-radius: 15px !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
}
