.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 1rem rgba(0,0,0,0.15) !important;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 30px;
}

.navbar-size {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nanago {
  width: 90px !important;
}

.navbar-toggler {
  position: absolute;
  bottom: -55px;
  right: 15px;
  border-color: rgba(0, 0, 0, 0) !important;

}

.dropdown-menu {
  border-radius: 15px;
}

.dropdown-item:active {
  background-color: #B3EBF9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
